.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    text-shadow: 5px 5px 10px rgb(186, 180, 240);
}

.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 40px;
}

.navbar li{
    padding: 10px;
}

.navbar a{
    color: aliceblue !important; 
}